[submodule "roles/ansible-hashicorp-toolbox"]
path = roles/ansible-hashicorp-toolbox
url = https://github.com/mrlesmithjr/ansible-hashicorp-toolbox.git
[submodule "roles/ansible-virtualbox"]
path = roles/ansible-virtualbox
url = https://github.com/mrlesmithjr/ansible-virtualbox.git
[submodule "tools/time_machine_exclusions"]
	path = tools/time_machine_exclusions
	url = https://github.com/mrlesmithjr/time_machine_exclusions
[submodule "tools/packer-templates"]
	path = tools/packer-templates
	url = https://github.com/mrlesmithjr/packer-templates.git
[submodule "tools/vagrant-box-templates"]
	path = tools/vagrant-box-templates
	url = https://github.com/mrlesmithjr/vagrant-box-templates.git
[submodule "tools/python-clone-github-user-repos"]
	path = tools/python-clone-github-user-repos
	url = https://github.com/mrlesmithjr/python-clone-github-user-repos.git
[submodule "tools/sync-forked-repo"]
	path = tools/sync-forked-repo
	url = https://github.com/mrlesmithjr/sync-forked-repo.git
[submodule "tools/python-sync-git-repos"]
	path = tools/python-sync-git-repos
	url = https://github.com/mrlesmithjr/python-sync-git-repos.git
[submodule "tools/packer-builder"]
	path = tools/packer-builder
	url = https://github.com/mrlesmithjr/packer-builder.git
[submodule "tools/cookiecutter-python-project"]
	path = tools/cookiecutter-python-project
	url = https://github.com/mrlesmithjr/cookiecutter-python-project.git
[submodule "tools/cookiecutter-ansible-role"]
	path = tools/cookiecutter-ansible-role
	url = https://github.com/mrlesmithjr/cookiecutter-ansible-role.git
[submodule "tools/python-github-stats"]
	path = tools/python-github-stats
	url = https://github.com/mrlesmithjr/python-github-stats.git
[submodule "tools/python-gitlab-api"]
	path = tools/python-gitlab-api
	url = https://github.com/mrlesmithjr/python-gitlab-api.git
[submodule "tools/terraform-to-ansible"]
	path = tools/terraform-to-ansible
	url = https://github.com/mrlesmithjr/terraform-to-ansible.git
[submodule "roles/ansible-docker"]
	path = roles/ansible-docker
	url = https://github.com/mrlesmithjr/ansible-docker.git
[submodule "tools/packer-templates-revisited"]
	path = tools/packer-templates-revisited
	url = https://github.com/mrlesmithjr/packer-templates-revisited.git
